*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body>section:nth-child(1), section:nth-child(2), section:nth-child(3){
    height: 100vh;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

section:nth-child(1)>div:nth-child(1){
    position: fixed;
    border: 1vw solid #b59185;
    border-radius: 100%;
    width: 15vw;
    height: 15vw;
    
    z-index: 1;
}

 section:nth-child(1)>div:nth-child(2){
    position: fixed;
    border: 1vw solid #fa0000;
    border-radius: 100%;
    width: 13.3vw;
    height: 13.3vw;

    z-index: 1;
}

section:nth-child(1)>div:nth-child(3){
    background-color: #8e307a;
    border-radius: 100%;
    width: 11.5vw;
    height: 11.5vw;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 1.3vw;
    font-weight: 500;
    font-family: Ubuntu;

    z-index: -1;
}

section:nth-child(2)>div{
    background-color: #0098bc;
    border-radius: 100%;
    width: 11.5vw;
    height: 11.5vw;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 1.3vw;
    font-weight: 500;
    font-family: Ubuntu;

    z-index: -1;
}