<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/style/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <img src="assets/images/pngwing.com.png" alt="coco-cola_brand" />
      <nav>
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Gallery</li>
          <li>Contact Us</li>
        </ul>
      </nav>
    </header>
    <main>
      <aside>
        <nav>
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Gallery</li>
            <li>Contact Us</li>
          </ul>
        </nav>
      </aside>

      <section>
        <section>
          <img src="assets/images/photo-1592892111425-15e04305f961.jpeg" alt="" style="width: 250px;">
          <img
            src="assets/images/minsk-belarusaugust-26-2016-glass-260nw-532172488.jpg"
            alt=""
          />
          <img
            src="assets/images/minsk-belarusaugust-26-2016-glass-260nw-532172488.jpg"
            alt=""
          />
          <img
            src="assets/images/minsk-belarusaugust-26-2016-glass-260nw-532172488.jpg"
            alt=""
          />
        </section>
        <section>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A cum
            atque tenetur consectetur sed inventore eius hic voluptatibus nemo
            voluptate quo, dignissimos exercitationem dolorem unde, similique
            cupiditate eum ad fuga!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
            in quae facere nobis laboriosam, voluptatibus sequi placeat odit,
            vero ut culpa magnam necessitatibus? Tempore iste numquam iusto
            animi suscipit illum?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
            in quae facere nobis laboriosam, voluptatibus sequi placeat odit,
            vero ut culpa magnam necessitatibus? Tempore iste numquam iusto
            animi suscipit illum?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
            in quae facere nobis laboriosam, voluptatibus sequi placeat odit,
            vero ut culpa magnam necessitatibus? Tempore iste numquam iusto
            animi suscipit illum?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A cum
            atque tenetur consectetur sed inventore eius hic voluptatibus nemo
            voluptate quo, dignissimos exercitationem dolorem unde, similique
            cupiditate eum ad fuga!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
            in quae facere nobis laboriosam, voluptatibus sequi placeat odit,
            vero ut culpa magnam necessitatibus? Tempore iste numquam iusto
            animi suscipit illum?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
            in quae facere nobis laboriosam, voluptatibus sequi placeat odit,
            vero ut culpa magnam necessitatibus? Tempore iste numquam iusto
            animi suscipit illum?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A cum
            atque tenetur consectetur sed inventore eius hic voluptatibus nemo
            voluptate quo, dignissimos exercitationem dolorem unde, similique
            cupiditate eum ad fuga!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
            in quae facere nobis laboriosam, voluptatibus sequi placeat odit,
            vero ut culpa magnam necessitatibus? Tempore iste numquam iusto
            animi suscipit illum?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A cum
            atque tenetur consectetur sed inventore eius hic voluptatibus nemo
            voluptate quo, dignissimos exercitationem dolorem unde, similique
            cupiditate eum ad fuga!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
            in quae facere nobis laboriosam, voluptatibus sequi placeat odit,
            vero ut culpa magnam necessitatibus? Tempore iste numquam iusto
            animi suscipit illum?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A cum
            atque tenetur consectetur sed inventore eius hic voluptatibus nemo
            voluptate quo, dignissimos exercitationem dolorem unde, similique
            cupiditate eum ad fuga!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
            in quae facere nobis laboriosam, voluptatibus sequi placeat odit,
            vero ut culpa magnam necessitatibus? Tempore iste numquam iusto
            animi suscipit illum?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A cum
            atque tenetur consectetur sed inventore eius hic voluptatibus nemo
            voluptate quo, dignissimos exercitationem dolorem unde, similique
            cupiditate eum ad fuga!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
            in quae facere nobis laboriosam, voluptatibus sequi placeat odit,
            vero ut culpa magnam necessitatibus? Tempore iste numquam iusto
            animi suscipit illum?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A cum
            atque tenetur consectetur sed inventore eius hic voluptatibus nemo
            voluptate quo, dignissimos exercitationem dolorem unde, similique
            cupiditate eum ad fuga!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
            in quae facere nobis laboriosam, voluptatibus sequi placeat odit,
            vero ut culpa magnam necessitatibus? Tempore iste numquam iusto
            animi suscipit illum?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A cum
            atque tenetur consectetur sed inventore eius hic voluptatibus nemo
            voluptate quo, dignissimos exercitationem dolorem unde, similique
            cupiditate eum ad fuga!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
            in quae facere nobis laboriosam, voluptatibus sequi placeat odit,
            vero ut culpa magnam necessitatibus? Tempore iste numquam iusto
            animi suscipit illum?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A cum
            atque tenetur consectetur sed inventore eius hic voluptatibus nemo
            voluptate quo, dignissimos exercitationem dolorem unde, similique
            cupiditate eum ad fuga!
          </p>
        </section>
      </section>
    </main>
    <footer>Developed By Chameen</footer>
  </body>
</html>
