/* @keyframes social_media_link {
  0% {
    transform: scale(1);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes hero_image {
  0% {
    height: 100vh;
  }

  90% {
    height: 100vh;
  }

  100% {
    height: 0vh;
  }
}

@keyframes hero-text {
  0% {
    opacity: 0%;
    top: 40vh;
    left: 120vw;
  }

  94% {
    opacity: 0%;
    top: 40vh;
    left: 120vw;
  }
  95% {
    opacity: 100%;
  }

  100% {
    top: 60vh;
    left: 15vw;
  }
}

@keyframes hey-its {
  from {
    font-size: 5px;
  }

  to {
    font-size: 20px;
  }
}

@keyframes name {
  from {
    font-size: 5px;
  }

  to {
    font-size: 50px;
  }
}

@keyframes full-stack {
  from {
    font-size: 5px;
  }

  to {
    font-size: 15px;
  }
}

@keyframes left-bar-container {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes logo {
  0%,
  50% {
    width: 200px;
    height: 150px;
    top: 50vh;
    left: 50vw;
    margin-top: -100px;
    margin-left: -75px;
    font-size: 100px;
  }

  100% {
    left: 10px;
    top: 20px;
    font-size: 40px;
  }
}

@keyframes right-side-bar {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes about{
  0%,99%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
} */