@keyframes social_media_link{
    0%{
      transform: scale(1.0);
    }
  
    90%{
      transform: scale(1.0);
    }
  
    100%{
      transform: scale(1.2);
    }
  }

  @keyframes hero_image{
    from{
      height: 100vh;
    }
  
    to{
      height: 0vh;
    }
  }