* {
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.left-bar-container {
  z-index: 2;
  padding-left: 3vw;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-top: 50px;
  font-family: "Jost", sans-serif;
  font-size: 48px;
  list-style: none;
  display: flex;
}

.logo li:nth-child(1) {
  color: #37ae83;
}

.logo li:nth-child(2) {
  color: #8fae37;
}

.social-media-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 10px;
}

.social-media-links li img {
  object-fit: cover;
  width: 40px;
}

.social-media-links li img:hover {
  transform: scale(1.4);
  transition: 300ms;
}

.social-media-links li img {
  transition: 600ms;
  animation-name: social;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2000ms;
  animation-direction: alternate;
}

@keyframes social {
  0% {
    transform: scale(1);
  }
  100% {
    transform: rotateZ(45deg) scale(1.4);
  }
}

#vertical-line {
  border-left: 3px solid white;
  height: 150px;
  margin-bottom: 20px;
}

.left-bar-container > nav {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  opacity: 80%;
}

.main-viewport {
  z-index: 1;
  position: relative;
  height: 100vh;
}

.hero-image {
  position: absolute;
  right: 0;
  top: 0;
}

.hero-image img {
  z-index: -99;
  height: 100vh;
}

.hero-text {
  z-index: 1;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  top: 60vh;
  left: 15vw;
}

#heyIts {
  font-size: 20px;
  opacity: 60%;
  margin-bottom: 5px;
}

#name {
  font-size: 50px;
  opacity: 90%;
  /* background: -webkit-linear-gradient(45deg, rgba(244,197,58,1) 20%, rgba(0,247,99,1) 30%, rgba(255,0,57,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

#fullStack {
  font-size: 15px;
  opacity: 60%;
  line-height: 25px;
}

/* -------------------------  Menu Icon -------------------------------- */

.right-side-bar{
  z-index: 1;
  position: fixed;
  right: 40px;
  top: 50px;
  opacity: 80%;
}

.right-side-bar .menu-icon{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.right-side-bar .menu-icon div{
  background-color: white;
  width: 40px;
  height: 5px;
  border-radius: 15px;
}
