* {
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0c0c0c;
}

.left-bar-container {
  z-index: 2;
  padding-left: 3vw;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-top: 50px;
  font-family: "Jost", sans-serif;
  font-size: 48px;
  list-style: none;
  display: flex;
}

.logo li:nth-child(1) {
  color: #37ae83;
}

.logo li:nth-child(2) {
  color: #8fae37;
}

.social-media-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 10px;
}

.social-media-links li img {
  object-fit: cover;
  width: 40px;
}

.social-media-links li img:hover {
  transform: scale(1.4);
  transition: 300ms;
}

#vertical-line {
  border-left: 3px solid white;
  height: 150px;
  margin-bottom: 20px;
}

.left-bar-container > nav {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  opacity: 80%;
}

.main-viewport {
  z-index: 1;
  position: relative;
  height: 100vh;
}

.hero-image {
  position: absolute;
  right: 0;
  top: 0;
}

.hero-image img {
  z-index: -99;
  height: 100vh;
}

.hero-text {
  z-index: 1;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  top: 60vh;
  left: 15vw;
}

#heyIts {
  font-size: 20px;
  opacity: 60%;
  margin-bottom: 5px;
}

#name {
  font-size: 50px;
  opacity: 90%;
  /* background: -webkit-linear-gradient(45deg, rgba(244,197,58,1) 20%, rgba(0,247,99,1) 30%, rgba(255,0,57,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

#fullStack {
  font-size: 15px;
  opacity: 60%;
  line-height: 25px;
}

/* -------------------------  Menu Icon -------------------------------- */

.right-side-bar{
  z-index: 1;
  position: fixed;
  right: 40px;
  top: 50px;
  opacity: 80%;
}

.right-side-bar .menu-icon{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.right-side-bar .menu-icon div{
  background-color: white;
  width: 40px;
  height: 5px;
  border-radius: 15px;
}


/* --------------------------------------------------------------- */


.about{
  position: relative;
  border: 1px solid red;
}

.about #myPhoto>img{
  width: 200px;
  position: absolute;
  right: 15vw;
  top: 40vh;
  box-shadow: 20px 20px 1px 1px #4091BF;
}

.about>section:nth-child(1){
  margin-top: 100px;
  position: relative;
  margin-left: 300px; 
}

#about_title_vertical_line{
  position: absolute;
  border-top: 1px solid white;
  width: 100px;
  left: 250px;
  top: 25px;
}

#about_title{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  
}

#about_paragraph{
  width: 40vw;
  margin-top: 100px;
}

#about_paragraph>p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
  color: #4091BF;
  line-height: 35px;
}