*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    background-image: url("../images/sky.jpg");
    background-position: center;
    background-size: cover;
}


#building{
    height: 40vh;
    border: 1px solid red;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#building>section{
    border: 1px solid green;
    height: 100%;
    width: 300%;
    display: flex;
}

#building>section>div{
    width: 100%;
    background-image: url("../images/city.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#road{
    height: 35vh;
    border: 1px solid red;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#road>section{
    width: 300%;
    height: 100%;
    display: flex;
}

#road>section>div{
    width: 100%;
    background-image: url("../images/road.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#car{
    width: 450px;
    height: 200px;
    border: 2px solid red;
    background-image: url("../images/car.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 520px;
}

#tyre1{
    width: 85px;
    height: 85px;
    border: 2px solid red;
    background-image: url("../images/wheel.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 774px;
    top: 618px;
}