@media screen and (max-width: 425px){
    @keyframes logo {
        0%,
        50% {
          width: 70px;
          height: 70px;
          top: 50vh;
          left: 50vw;
          margin-top: -35px;
          margin-left: -35px;
          font-size: 100px;
        }
      
        100% {
          top: 0;
          left: 0;
          font-size: 25px;
        }
      }
}